# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 140

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,scala,rs,xml,kt.spec,kts.spec}]
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_ignore_back_ticked_identifier = true

ktlint_standard = enabled

# Experimental rules run by default run on the ktlint code base itself. Experimental rules should not be released if
# we are not pleased ourselves with the results on the ktlint code base.
ktlint_experimental = disabled

# Below 2 settings use the intellij_idea style equivalent
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_function_signature_body_expression_wrapping = default
# ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = unset

# ktlint modifiers for Compose conventions
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_property_naming_constant_naming = pascal_case

#  Disable wildcard imports entirely
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset

ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

compose_allowed_composition_locals = LocalSizes, LocalAxis, LocalAnimationSpec, LocalLegendLocation

# Re-enable the below two checks when @Deprecated Composable functions violating these checks are removed
ktlint_compose_param-order-check = disabled
ktlint_compose_modifier-missing-check = disabled

[*.md]
trim_trailing_whitespace = false
max_line_length = unset

[*.yml]
ij_yaml_spaces_within_brackets = false
